#app {
    background: #121e30;
    height: 100vh;
    font-family: 'Encode Sans SC', sans-serif;
}

a {
    text-decoration: none;
}

.neumorph {
    cursor: pointer;
    border-radius: 4px;
    background: linear-gradient(145deg, #132033, #101b2b);
    box-shadow:  2px 2px 4px #070c13, -2px -2px 4px #1d304d;
}

.real {
    color: #5274a7; 
    font-weight: 400;
}

#moeda {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
}

#moeda option {
    background: #1d304d;
}

.input input {
    width: 100%;
    background: transparent;
    outline: none;
}

.input svg {
    width: 25px;
    height: 25px;
    fill: #5274a7;
    padding: 6px;
    font-size: 19px;
    border-radius: 6px;
    background: linear-gradient(145deg, #132033, #101b2b);
    box-shadow:  1px 1px 2px #070c13, -1px -1px 2px #1d304d;
}

#status img {
    width: 28px;
    height: 28px;
    margin: 10px;
}

.input svg:active {
    border-radius: 6px;
    background: #121e30;
    box-shadow: inset 1px 1px 2px #070c13, inset -1px -1px 2px #1d304d;
}

.secondary-color {
    color: #92baf7;
    font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#n::placeholder {
    font-weight: 500;
    color: #445c80;
}

#reset {
    margin: 0 auto;

}

#reset svg {
    background: none;
    fill:none;
    stroke:#92baf7;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}

#resultado {
    font-weight: 800;
	text-transform: uppercase;
    border-radius: 8px;
    /* background: linear-gradient(145deg, #132033, #101b2b); */
    text-shadow:  4px 4px 7px #0a111b, -4px -4px 7px #1a2b45;
}

#btn, #lightswitch:hover {
    color: #92baf7;
}
